body, header, section, footer, #title, #input-fields, #quantity, #product-quantity, #product,
#product-name, #price, .product-price, #lists, #item-list-left, #item-list, #item-list-right, 
#add, #add button, #list-total, #price-total, #list-total-title, #price-total-title,
#holder, #remove, #complete
{
	position: relative;
/*	border: 1px solid black; */
}

body {
	display: block;
	margin: 0 auto;
}

header {
	margin: 0 auto;
	width: 600px;
	height: 150px;
}

section {
	margin: 0 auto;
	width: 800px;
	height: 600px;
}

footer {
	margin: 0 auto;
	width: 800px;
	height: 100px;
}

#title {
	margin: 0 auto;
	width: 600px;
	height: 150px;
}

h1 {
	text-align: center;
	font-family: cursive;
	font-size: 5em;
	padding-top: 30px;
	color: blue;
}

h3 {
	font-family: cursive;
	color: blue;
}

#input-fields {
	margin: 0 auto;
	width: 540px;
	height: 50px;
}

#quantity {
	float: left;
	width: 80px;
	height: 50px;
	text-align: center;
}

#product-quantity {
	margin-top: 2px;
	width: 60px;
	height: 20px;
}

#product {
	float: left;
	width: 320px;
	height: 50px;
	text-align: center;
}

#product-name {
	margin-top: 2px;
	font-family: cursive;
	width: 300px;
	height: 20px;
}

#price {
	float: left;
	width: 80px;
	height: 50px;
	text-align: center;
}

.product-price {
	margin-top: 2px;
	font-family: cursive;
	width: 60px;
	height: 20px;
}

#add {
	float: left;
	width: 50px;
	height: 50px;
	text-align: center;
}

#add button {
	margin-top: 20px;
	width: 40px;
	height: 20px;
	color: blue;
}

#lists {
	margin: 0 auto;
	margin-top: 49px;
	width: 600px;
	height: 500px;
	overflow-y: scroll;
}

#item-list {
	display: inline-block;
	margin: 0 auto;
	margin-left: 10px;
	width: 350px;
}

#item-list-left {
	display: inline-block;
	float: left;
	width: 100px;
}

#item-list-right {
	display: inline-block;
	float: right;
	width: 100px;
}

.product-list li, .price-list li {
	margin: 0 0 10px 0;
	font-family: cursive;
	font-size: 1.2em;
}

.quantity-list li {
	margin: 0 0 4.3px 0;
}

#remove {	
	width: 25px;
	height: 25px;
	text-align: center;
	border: none;
	margin-top: -20px;	
}

#complete {
	width: 25px;
	height: 25px;
	text-align: center;
	border: none;
}

#list-total {
	float: left;
	width: 60px;
	height: 50px;
}

#list-total-title {
	float: left;
	width: 120px;
	height: 50px;
	text-align: center;
}

#list-total-title h3 {
	margin-top: 15px;
}

#price-total {
	float: right;
	width: 60px;
	height: 50px;
}

#price-total-title {
	float: right;
	width: 120px;
	height: 50px;
	text-align: center;
}

#price-total-title h3 {
	margin-top: 15px;
}

/* ~~~~~ JQUERY CLASSES ~~~~~ */

.gotit {
	text-decoration: line-through;
	color: red;
}
