body, header, section, footer, #title, #inputFields, #quantity, #productQuantity, #product,
#productName, #price, #productPrice, #lists, #itemListLeft, #itemList, #itemListRight, 
#add, #add button, #listTotal, #priceTotal, #listTotalTitle, #priceTotalTitle,
#holder, #remove, #complete
{
	position: relative;
	/*border: 1px solid black;*/
}

body {
	display: block;
	margin: 0 auto;
	font-family: cursive;
}

header {
	margin: 0 auto;
	width: 600px;
	height: 150px;
}

section {
	margin: 0 auto;
	width: 800px;
	height: 600px;
}

footer {
	margin: 0 auto;
	width: 800px;
	height: 100px;
}

#title {
	margin: 0 auto;
	width: 600px;
	height: 150px;
}

h1 {
	text-align: center;
	font-family: cursive;
	font-size: 5em;
	padding-top: 30px;
	color: blue;
}

h3 {
	font-family: cursive;
	color: blue;
}

#inputFields {
	margin: 0 auto;
	width: 540px;
	height: 50px;
}

#quantity {
	float: left;
	width: 80px;
	height: 50px;
	text-align: center;
}

#productQuantity {
	margin-top: 2px;
	width: 60px;
	height: 20px;
}

#product {
	float: left;
	width: 320px;
	height: 50px;
	text-align: center;
}

#productName {
	margin-top: 2px;
	font-family: cursive;
	width: 300px;
	height: 20px;
}

#price {
	float: left;
	width: 80px;
	height: 50px;
	text-align: center;
}

#productPrice {
	margin-top: 2px;
	font-family: cursive;
	width: 60px;
	height: 20px;
}

#add {
	float: left;
	width: 50px;
	height: 50px;
	text-align: center;
}

#add button {
	margin-top: 20px;
	width: 40px;
	height: 20px;
	color: blue;
}

#lists {
	margin: 0 auto;
	margin-top: 49px;
	width: 600px;
	height: 500px;
	overflow-y: scroll;
}

#itemList {
	display: inline-block;
	margin: 0 auto;
	margin-left: 10px;
	width: 450px;
}

#itemListLeft, #itemListRight {
	display: inline-block;
	width: 50px;
}

#itemListLeft {
	float: left;
}

#itemListRight {
	float: right;
}

#productList li, #priceList li {
	margin: 0 0 10px 0;
	font-family: cursive;
	font-size: 1.2em;
}

#quantityList li {
	margin: 0 0 4.3px 0;
	font-family: cursive;
	font-size: 1.2em;
}

#remove {	
	width: 25px;
	height: 25px;
	text-align: center;
	border: none;
	margin-top: -20px;	
}

#complete {
	width: 25px;
	height: 25px;
	text-align: center;
	border: none;
}

#listTotal {
	float: left;
	width: 60px;
	height: 50px;
}

#listTotalTitle {
	float: left;
	width: 120px;
	height: 50px;
	text-align: center;
}

#listTotalTitle h3 {
	margin-top: 15px;
}

#priceTotal {
	float: right;
	width: 60px;
	height: 50px;
}

#priceTotalTitle {
	float: right;
	width: 120px;
	height: 50px;
	text-align: center;
}

#priceTotalTitle h3 {
	margin-top: 15px;
}

/* ~~~~~ JQUERY CLASSES ~~~~~ */

.gotit {
	text-decoration: line-through;
	color: blue;
}

#instructions {
	display: none;
	margin: 0 auto;
	width: 600px;
	height: 150px;
	text-align: center;
}

#instructions p {
	padding-top: 25px;
}